PORT=3000
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Flowers1234
ADMIN_TOKEN=change-this-long-random-token-before-deploying
RESEND_API_KEY=
EMAIL_TO=ryanstupart@gmail.com
EMAIL_FROM=Floreria Florentina <floreriaflorentina4@gmail.com>

PUBLIC_SITE_URL=https://floreriaflorentina.com
